*{
    margin: 0;
    padding: 0;
}

.board {
    border-top: 1px hidden;
    border-bottom: 1px hidden;
    border-collapse: collapse; 
    margin: 100px auto 0;    
}

.board tr {
  border-right: 1px hidden;
  border-left: 1px hidden;
}

.board td {
    border: 3px solid #000;
    font-weight: 500;
    font-size: 70px;
    height: 150px;
    text-align: center;
    width: 150px;
}

.clear {
    padding: 15px;
    border-radius: 7px 7px 7px 7px;
    outline: none;
    transform: translateX(150px);
    background-color: #4fbcdf;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.clear:hover {
    background-color: #1dda59;
}