*{
    margin: 0;
    padding: 0;
}

.board {
    margin: 100px auto 0;
    border-collapse: collapse; /*no utiliza boder en la tbla*/
}

.board td {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(140, 139, 173);
    text-align: center;
    font-weight: 500;
}

.board td:hover {
    background-color: lightcoral;
    
}